<div>
    <p>&copy; {% year %} {{ metadata.siteName }}</p>
    <p>Powered by 11ty, Cloudflare, and Curiosity • <a href="/">Home</a> • <a href="/sitemap.xml">Sitemap</a> • <a href="/feed.xml">RSS Feed</a> • <a href="#top">Return to Top</a></p>
</div>